@import "tailwindcss";
* {
  box-sizing: border-box;
  color: #bfd7ed;
  font-style: italic;
}
body {
  background-color: #0c2d48;
}
svg {
  width: 20px;
  text-align: center;
  cursor: pointer;
  fill: #b1d4e0;
}
